:root {
  // color
  --color-black: #24292e;
  --color-white: #fff;
  --color-gray: #586069;
  --color-gray-2: #d3dbe3;
  --color-gray-3: #fafbfc;
  --color-gray-4: #e1e4e8;
  --color-gray-5: #f6f8fa;
  --color-gray-6: #586068;
  --color-blue-1: #0366d6;
  --color-orange-1: #fe9600;
  --color-red-1: #ff92a5;
}
