.box {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-4);
  border-radius: 6px;
  margin-top: 3rem;
  margin: auto;
  width: 70%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
